@import '../theme.scss';

.issue-form {
  padding: $content-spacing;
  color: white;

  > .field {
    display: block;
    margin-bottom: $content-spacing;

  }

  input, select, textarea {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
}


