@import '../theme.scss';

.list-item {
  display: flex;
  margin-bottom: $content-spacing-sub;

  &.dragging {
    opacity: 0.35;
  }
}

.list-item > .item {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .05);
  padding: $content-spacing-sub;
  margin-right: $content-spacing-sub;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  > .info > .id {
    font-weight: bold;
    margin-right: $content-spacing;
  }

}

.actions {
  display: inherit;

  > .type {
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background: gray;
    font-size: .75em;

    &.-label-bug {
      background: red;
    }

    &.-label-question {
      background: purple;
    }

    &.-label-improvement {
      background: orange;
    }
  }

  > .edit {
    margin-left: $content-spacing-sub;
    cursor: pointer;
  }
}
