$sidebar-width: 450px;
$sidebar-color: #192f3a;

$content-spacing: 20px;
$content-spacing-sub: $content-spacing / 2;

$font-black: #232323;

$label-bug: red;
$label-question: purple;
$label-improvement: orange;
